body{
	font-family: 'Roboto', sans-serif;
	background-color: #f9f9f9
}

h2{
	color: #036;
}

h4{
	color: #05a;
}

*{
	font-family: inherit;
	box-sizing: border-box
}

.flex{
	display: flex;
	justify-content: space-between;
}

.row{
	flex-direction: row;
}

.section{
	margin-bottom: 5px;
}

.tooltip{
	cursor: help;
	color: #036;
}

.input{
	width: 50px;
}

.sponsor{
	padding: 4px;
	border-radius: 10px;
	color: white;
	opacity: 0.8;
}

.gopay{
	background-color: #036;
}

.github{
	background-color: #111;
}

.config{
	background-color: #dddddd;
	padding: 5px; 
}

.inline{
	display: inline-block;
	vertical-align: middle;
	padding-right: 3px;
	height: 16px;
	width: auto;
}
